$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertairy:#99E2D0;
$gradient: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
$box-shadows: -1px 5px 10px 5px #b0aeae;
$color-grey : #353535;



